.goldenbook {
    min-height: calc(100vh - 200px);
    font-size: 1em;
    .goldenbook__content {
        background-color: $backgroundGoldenbookContent;
        &:hover {
            background-color: $backgroundGoldenbookContentHover;
        }
    }
    @media screen and (max-device-width: 991.98px) {
        font-sier: 0.9em;
    }
    @media screen and (max-device-width: 767.98px) {
        font-size: 0.8em;
    }
}