$backgroundHeader: #f8f9fa;
$backgroundFooter: #f8f9fa;
$backgroundBody: #6c757d;
$backgroundMenu: #adb5bd;
// $backgroundGoldenbookContent: #495057;
$backgroundGoldenbookContent: rgba(0, 0, 0, 0.6);
$backgroundGoldenbookContentHover: #343a40;